body {
  margin: 0;
  background: Black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.typing-container {
  color: Black;
  font-size: 44px;
  font-family: Arial, sans-serif;
}

.cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
